@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: white !important;
  width: 150px !important;
}

body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  display: flex;
}

.green {
  color: green;
}

.nav {
  position: sticky;
  top: 0px;
  margin: 0px 50px;
  height: 100vh;
  max-width: 150px;
  padding: 150px 0;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    border-left: 3px solid rgba(172, 172, 172, 0.432);
    color: white;

    .nav-li {
      padding: 15px 10px;
      position: relative;
      overflow: hidden;
      width: 15px;
      color: transparent;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: width 0.5s;
      white-space: nowrap;

      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-left: none;
      }
      .link {
        display: none;
      }
    }
  }
}

.container {
  section {
    height: 100vh;
    padding: 50px 200px;
    gap: 150px;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s;
    position: absolute;
  }
  #home {
    .inner {
      display: flex;
      justify-content: space-around;
      h1 {
        font-size: 65px;
        width: 400px;
        color: aliceblue;
        align-self: end;
        margin-bottom: 30px;
      }

      img {
        align-self: start;
      }

      hr {
        margin-top: 15px;
      }
    }
    .nav-home {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      p {
        margin-top: 15px;
      }
      h2 {
        text-decoration: underline;
        display: inline;
        cursor: pointer;
      }
      .nav-item {
        flex-basis: 30%;
        color: aliceblue;
      }
    }
  }

  #projects {
    text-align: center;
    overflow: hidden;
    h2 {
      color: aliceblue;
      font-size: 70px;
    }
    .inner {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: space-evenly;
      .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
        cursor: pointer;
      }
      .left {
        transform: rotate(135deg);
      }
      .right {
        transform: rotate(-45deg);
      }
      #imgs {
        display: flex;
        padding: 50px;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: center;

        .slide {
          transition: all 0.5s;
          cursor: pointer;
        }
        img {
          width: 25%;
          margin: 0 15px;
        }
      }
    }
  }

  #about_me {
    .inner {
      border: 1px solid black;
      height: 100%;
      padding: 150px;
    }
  }

  #contact {
    .inner {
      border: 1px solid black;
      height: 100%;
      padding: 150px;
    }
  }
}

.active-section {
  opacity: 1 !important;
  z-index: 2 !important;
}
