@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: white !important;
  width: 150px !important;
}

body {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-attachment: fixed;
}

#burger {
  right: 0;
  padding: 25px;
  display: none;
  z-index: 99;
  position: absolute;
}
@media (max-width: 900px) {
  #burger {
    display: block;
  }
}

.green {
  color: green;
}

.main {
  display: flex;
}
@media (max-width: 900px) {
  .main h2 {
    font-size: 25px;
  }
}
@media (max-width: 50px) {
  .main h2 {
    font-size: 20px;
  }
}
.main .nav {
  position: sticky;
  top: 150px;
  margin: 0px 50px;
  height: 100vh;
  max-width: 150px;
  padding: 150px 0;
}
@media (max-width: 900px) {
  .main .nav {
    position: absolute;
    top: -100vh;
  }
}
.main .nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  border-left: 3px solid rgba(172, 172, 172, 0.432);
  color: white;
}
.main .nav ul .nav-li {
  padding: 15px 10px;
  position: relative;
  overflow: hidden;
  width: 15px;
  color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: width 0.5s;
  white-space: nowrap;
}
.main .nav ul .nav-li::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-left: none;
}
.main .nav ul .nav-li .link {
  display: none;
}
.main .container section {
  height: 100vh;
  padding: 20px 200px;
  gap: 150px;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s;
  position: absolute;
}
@media (max-width: 1500px) {
  .main .container section {
    padding: 25px;
  }
}
.main .container #home .inner {
  display: flex;
  justify-content: space-around;
}
.main .container #home .inner h1 {
  font-size: 65px;
  max-width: 400px;
  color: aliceblue;
  align-self: end;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .main .container #home .inner h1 {
    font-size: 25px;
    max-width: 200px;
  }
}
@media (max-width: 350px) {
  .main .container #home .inner h1 {
    font-size: 20px;
  }
}
.main .container #home .inner img {
  align-self: start;
}
@media (max-width: 900px) {
  .main .container #home .inner img {
    max-width: 150px;
  }
}
.main .container #home .inner hr {
  margin-top: 15px;
}
.main .container #home .nav-home {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .main .container #home .nav-home {
    align-items: start;
    flex-direction: column;
    font-size: 10px;
    padding: 0 25px;
  }
}
.main .container #home .nav-home p {
  margin-top: 15px;
}
@media (max-width: 900px) {
  .main .container #home .nav-home p {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
.main .container #home .nav-home h2 {
  text-decoration: underline;
  display: inline;
  cursor: pointer;
}
@media (max-width: 900px) {
  .main .container #home .nav-home h2 {
    font-size: 15px;
  }
}
.main .container #home .nav-home .nav-item {
  flex-basis: 30%;
  color: aliceblue;
}
@media (max-width: 900px) {
  .main .container #home .nav-home .nav-item {
    mad-width: 500px;
  }
}
.main .container #projects {
  text-align: center;
}
.main .container #projects h2 {
  padding: 15px;
  display: block;
  color: aliceblue;
  font-size: 60px;
  margin-bottom: 25px;
  border-bottom: 3px white solid;
}
@media (max-width: 500px) {
  .main .container #projects h2 {
    font-size: 45px;
  }
}
@media (max-width: 350px) {
  .main .container #projects h2 {
    font-size: 35px;
  }
}
.main .container #projects h2.main {
  font-family: Poppins, sans-serif;
}
.main .container #projects .inner {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 75%;
  justify-content: center;
  margin-top: 50px;
}
.main .container #projects .inner .container {
  flex-basis: 30%;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
          backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main .container #projects .inner .container .wrapper {
  width: 100%;
  height: 100%;
}
.main .container #projects .inner .container .wrapper .banner-image {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}
.main .container #projects .inner .container .wrapper .banner-image.portfolio {
  background-image: url(./image2.png);
}
.main .container #projects .inner .container .wrapper .banner-image.brainsterLabs {
  background-image: url(./image.png);
}
.main .container #projects .inner .container .wrapper .card-content {
  padding: 38px;
}
.main .container #projects .inner .container .wrapper .card-content h2 {
  font-family: "Righteous", sans-serif;
  color: rgba(255, 255, 255, 0.98);
  font-size: 25px;
}
@media (max-width: 500px) {
  .main .container #projects .inner .container .wrapper .card-content h2 {
    font-size: 20px;
  }
}
.main .container #projects .inner .container .wrapper .card-content p {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 2px;
  height: 125px;
}
.main .container #projects .inner .container .wrapper .card-content .button-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.main .container #projects .inner .container .wrapper .card-content .btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}
.main .container #projects .inner .container .wrapper .card-content .outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all 0.3s ease;
}
.main .container #projects .inner .container .wrapper .card-content .outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}
.main .container #projects .inner .container .wrapper .card-content .fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}
.main .container #projects .inner .container .wrapper .card-content .fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}
.main .container #about_me .inner {
  height: 100%;
  width: 100%;
  padding: 100px 0;
  color: aliceblue;
}
@media (max-width: 900px) {
  .main .container #about_me .inner {
    padding: 50px;
  }
}
@media (max-width: 400px) {
  .main .container #about_me .inner {
    padding: 20px;
  }
}
.main .container #about_me .inner h2 {
  font-size: 50px;
  padding: 5px;
  margin-bottom: 45px;
  border-bottom: 3px solid white;
  font-family: Poppins, sans-serif;
}
@media (max-width: 900px) {
  .main .container #about_me .inner h2 {
    font-size: 30px;
  }
}
.main .container #about_me .inner .content {
  font-size: 20px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.096);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (max-width: 900px) {
  .main .container #about_me .inner .content {
    font-size: 15px;
    width: 100%;
  }
}
.main .container #about_me .inner .content .lists {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  max-width: 750px;
  gap: 25px;
}
@media (max-width: 900px) {
  .main .container #about_me .inner .content .lists {
    flex-direction: column;
  }
}
.main .container #contact .inner {
  height: 100%;
  padding: 0px 0px;
  color: aliceblue;
}
.main .container #contact .inner h2 {
  font-size: 60px;
  margin-bottom: 50px;
  border-bottom: 3px solid white;
  font-family: Poppins, sans-serif;
}
@media (max-width: 900px) {
  .main .container #contact .inner h2 {
    font-size: 45px;
  }
}
.main .container #contact .inner .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.main .container #contact .inner .content .social-media p {
  max-width: 350px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
.main .container #contact .inner .content .social-media ul {
  list-style: none;
}
.main .container #contact .inner .content .social-media ul li {
  margin-top: 10px;
  font-size: 20px;
}
@media (max-width: 900px) {
  .main .container #contact .inner .content .social-media {
    padding: 0px;
  }
}
.main .container #contact .inner .content .message-section {
  display: flex;
  flex-direction: column;
}
.main .container #contact .inner .content .message-section p {
  max-width: 350px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}
.main .container #contact .inner .content .message-section .input-container {
  position: relative;
  margin-bottom: 25px;
}
.main .container #contact .inner .content .message-section .input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.main .container #contact .inner .content .message-section .input-container input {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}
.main .container #contact .inner .content .message-section .input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid aliceblue;
}
.main .container #contact .inner .content .message-section .btn {
  color: #fff;
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.096);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.main .container #contact .inner .content .message-section .input-container input:focus ~ label,
.main .container #contact .inner .content .message-section .input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}
.main .container #contact .inner .content .message-section textarea {
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.096);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
  width: 100%;
  height: 150px;
}

.active-section {
  opacity: 1 !important;
  z-index: 5 !important;
}

.burger-on {
  top: 0 !important;
  position: absolute;
  transition: top 1s;
  z-index: 15;
  height: 100%;
  color: white;
  width: 100vw;
  padding-top: 50px;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-attachment: fixed;
}
.burger-on ul {
  list-style: none;
}
.burger-on ul li {
  margin: 15px 25px;
}/*# sourceMappingURL=style.css.map */